@font-face {
    font-family: 'Myriad Pro Light Italic';
    src: url('MyriadPro-LightIt.eot');
    src: url('MyriadPro-LightIt.eot?#iefix') format('embedded-opentype'), url('MyriadPro-LightIt.woff') format('woff'), url('MyriadPro-LightIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadPro";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../../fonts/MyriadPro-Regular.woff2") format("woff");
}

// @font-face {
//     font-family: "Opensans";
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
//     src: url("../../fonts/opensansbold.woff2") format("woff2"), url("../../fonts/opensansbold.woff") format("woff");
// }